@import "vars";
@import "mixins";
//태그 1, class 10, id 1000 , style 1000

.titleBox {
  text-align: center;
  position: relative;
  z-index: 1;
  h2 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  p {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 300;
    strong {
      font-weight: 700;
      position: relative;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      &:after {
        content: "";
        position: absolute;
        left: -10px;
        right: -10px;
        height: 10px;
        bottom: 10px;
        transform-origin: 0 50%;
        // background-color: #f00;
        border-radius: 100px;
        transform: 0 50%;
        z-index: -1;
      }
    }
  }
}
#happen .titleBox strong:after {
  background-color: #f00;
}
#business .titleBox strong:after {
  background-color: #0f0;
}
#portfolio .titleBox strong:after {
  background-color: #00f;
}
#community .titleBox strong:after {
  background-color: #ff0;
}

#main {
  .section {
    background-size: cover;
    background-position: 50%;
    color: $white-color;
    &#happen {
      video {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }
    &#business {
      background-image: url(../images/main/bgBusiness.jpg);
      .listBox {
        margin-top: 80px;
        ul {
          display: flex;
          justify-content: center;
          li a {
            width: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            .icon {
              @include box(100px);
              @include flexCenter();
              background-color: rgba(255, 255, 255, 0.5);
              border-radius: 100%;
            }
            .txt {
              width: 200px;
              dt {
                margin: 30px 0;
                font-size: 20px;
                font-weight: 500;
              }
              dd {
                line-height: 1.5;
                word-break: keep-all;
              }
            }
          }
        }
      }
    }
    &#portfolio {
      background-image: url(../images/main/bgPortfolio.png);
      .listBox {
        width: 1350px;
        margin: 50px auto 0;
        position: relative;
        .mask {
          width: 1200px;
          margin: auto;
          overflow: hidden;
          ul {
            li {
              &:hover .img:after {
                border: 10px solid $white-color;
              }
              .img {
                position: relative;
                &:after {
                  content: "";
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  border: 0 solid $white-color;
                  transition: 0.25s;
                }
              }
              img {
                width: 100%;
                height: 250px;
                object-fit: cover;
              }
              p {
                text-align: center;
                margin-top: 30px;
              }
            }
          }
        }
        button {
          position: absolute;
          top: 30%;
          span {
            color: $white-color;
            font-size: 48px;
          }
          &.prev {
            left: 0;
          }
          &.next {
            right: 0;
          }
        }
        .pagination {
          text-align: center;
          margin-top: 50px;
          .swiper-pagination-bullet {
            width: 14px;
            height: 14px;
            opacity: 1;
            background-color: transparent;
            border: 4px solid $white-color;
            &-active {
              background-color: $white-color;
            }
          }
        }
      }
    }
    &#community {
      background-image: url(../images/main/bgCommunity.jpg);
      .listBox {
        margin-top: 100px;
        ul {
          display: flex;
          justify-content: center;
          li {
            margin: 0 10px;
            a {
              @include flexCenter();
              @include box(200px, 60px);
              border: 2px solid $white-color;
              border-radius: 100px;
              transition: 0.25s;
              &:hover {
                background-color: $white-color;
                color: #111;
              }
            }
          }
        }
      }
    }
    &#footer {
      background-color: $white-color;
      color: #111;
      text-align: center;
      .title {
        font-size: 18px;
      }
      .address {
        margin: 20px 0;
      }
      .copyright {
        font-size: 14px;
      }
      p {
        margin: 10px 0;
        strong {
          font-weight: 500;
          color: #111;
        }
      }
    }
  }
}
$nav-width: 4px;

#fp-nav {
  transition: 0.5s ease 0.25s;
}
#fp-nav.last {
  right: -300px;
}

#fp-nav ul li {
  display: block;
  width: 30px;
  height: 30px;
  margin: 20px 10px;
  position: relative;
}
#fp-nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  &:before {
    content: "";
    display: block;
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
  height: $nav-width;
  width: $nav-width;
  margin: -2px 0 0 -2px;
  border-radius: 100%;
}
#fp-nav ul li a.active span:before {
  transform: scale(1);
}
#fp-nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: $nav-width;
  width: $nav-width;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  &:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    box-sizing: border-box;
    border: 2px solid #fff;
    transform: scale(0);
    transition: 0.25s;
  }
}
#fp-nav ul li:hover a span {
  width: $nav-width;
  height: $nav-width;
  margin: -2px 0px 0px -2px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0.5;
  width: auto;
  cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 60px;
}
#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}
